<nav>
    <ul style="list-style-type: none;">
        <li style="text-align: center;">
            <a href="/">Home</a></li>
            <li style="text-align: center;">
                <a href="/contact">Contact</a></li>
    </ul>
    </nav>