<h1 style="color: blue; text-align: center;">Welcome to the profile of <%= person %></h1>

    <%- include ('partials/nav.ejs') %>
    <h2 style="color: blue; text-align: center;">Hello</h2>

    <p style="text-align: center;">
        <strong>Age: </strong> <%=data.age %>
    </p>

    <p style="text-align: center;">
        <strong>Job: </strong> <%=data.job %>
    </p>

    <h2 style="text-align: center;">
        Hobbies:
    </h2>
